# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.env

# Django
*.pot
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
.virtualenv/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.coverage
nosetests.xml
coverage.xml
*.log
*.hypothesis/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store

# Operating System Files
Thumbs.db
ehthumbs.db
Icon?
